*.o
*.obj

*.a
*.so
*.lib
*.dll
*.exp
*.ilk

*.pdb
*.manifest

*.user
*.user.*
*.autosave

*.moc
moc_*.*
qrc_*.*
ui_*.*

*.Debug
*.Release

Makefile
Makefile*.*

debug
release

.DS_Store

build-*-Debug
build-*-Release
